{% extends "coderedcms/pages/baseserv.html" %}
{% load coderedcms_tags i18n static language_switcher wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar wagtailsnippets_tags django_bootstrap5 %}
{% wagtail_site as site %}

{% block custom_assets %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.css">
{% endblock %}

{% block extra_head %}
<style>
  .swiper-medical-tourism-container {
    width: 80%; /* Adjust width to provide side margins */
    max-width: 600px;
    margin: 40px auto; /* Center horizontally and add vertical space */
    padding: 20px; /* Optional: Add internal spacing */
    border-radius: 15px; /* Optional: Round container edges */
  }

  .medical-tourism-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff; /* Ensure slides have a visible background */
    overflow: hidden;
    margin: 10px; /* Add space between slides in the stack */
  }

  /* Images Inside Swiper Slide */
  .medical-tourism-slide img {
    height: auto;
    border-radius: 10px;
  }

  /* Navigation Buttons */
  .medical-tourism-button-next,
  .medical-tourism-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }

  /* Add hover effect to navigation buttons */
  .medical-tourism-button-next:hover,
  .medical-tourism-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


/* Holiday Banner Styling with Shiny Gold Effect */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.holiday-banner {
    display: flex;
    overflow: hidden;
    background: linear-gradient(90deg, #b22222, #008000);
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}

.scrolling-content {
    display: flex;
    align-items: center;
    animation: infiniteScroll 20s linear infinite;
}

.banner-text {
    color: #ffd700; /* Gold color */
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
    margin: 0 20px;
    text-transform: capitalize;
    animation: glow 2s ease-in-out infinite alternate;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #ffd700,
        0 0 20px #ff8c00,
        0 0 30px #ff4500;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes glow {
    from {
        text-shadow:
            0 0 5px #fff,
            0 0 10px #ffd700,
            0 0 20px #ff8c00,
            0 0 30px #ff4500;
    }
    to {
        text-shadow:
            0 0 10px #fff,
            0 0 20px #ffd700,
            0 0 30px #ff8c00,
            0 0 40px #ff4500;
    }
}

#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks through the snow animation */
    z-index: 9999; /* Ensure it stays on top */
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}


</style>
{% endblock %}

{% block content %}
<div id="snow-container"></div>
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <!-- Logo Section -->
        <a href="index.html" class="logo d-flex align-items-center me-auto">
            {% if settings.coderedcms.LayoutSettings.logo %}
                {% image settings.coderedcms.LayoutSettings.logo original format-webp as logo %}
                <img src="{{ logo.url }}" alt="{{ site.site_name }}">
            {% else %}
                {{ site.site_name }}
            {% endif %}
        </a>

{% language_switcher %}


        <!-- Navigation Menu -->
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">{% trans "Home" %}</a></li>
                <li><a href="#speakers">{% trans "Dentists" %}</a></li>
                <li><a href="#schedule">{% trans "Schedule" %}</a></li>
                <li><a href="#venue">{% trans "Clinic" %}</a></li>
                <li><a href="#hotels">{% trans "Hotels" %}</a></li>
                <li><a href="#gallery">{% trans "Gallery" %}</a></li>

                <!-- Dropdown Menu -->
                <li class="dropdown">
                    <a href="#"><span>{% trans "Our Website" %}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        {% for child_page in site.root_page.get_children.live %}
                            {% if child_page.title == "Our Blogs" %}
                                <li>
                                    <button class="accordion-toggle">{% trans "Our Blogs" %}</button>
                                    <ul class="collapsed-list">
                                        {% for blog in child_page.get_children.live %}
                                            <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ child_page.url }}">{{ child_page.title }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- Nested Dropdown Example -->
                        <li class="dropdown">
                            <a href="#"><span>{% trans "Dentiboard" %}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                    <li><a href="https://app.dentidelil-international.com/">{% trans "Login" %}</a></li>
                    <li><a href="https://app.dentidelil-international.com/signup/">{% trans "Signup" %}</a></li>
                    <li><a href="https://app.dentidelil-international.com/TermsofService/">{% trans "Terms of Service" %}</a></li>
                    <li><a href="https://app.dentidelil-international.com/flight/">{% trans "Flight" %}</a></li>
                            </ul>
                        </li>

                        <!-- Additional Dropdown Links -->
                        <li><a href="https://dentidelil-international.com/en/say-hello-to-denti/">{% trans "Say Hello to Denti" %}</a></li>
                        <li><a href="#">{% trans "Dropdown 3" %}</a></li>
                        <li><a href="#">{% trans "Dropdown 4" %}</a></li>
                    </ul>
                </li>

                <!-- Contact Link -->
                <li><a href="#contact">{% trans "Contact" %}</a></li>
            </ul>

            <!-- Mobile Navigation Toggle -->
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <!-- Call-to-Action Button -->
        <a class="cta-btn d-none d-sm-block" href="#buy-tickets">{% trans "Buy Tickets" %}</a>
    </div>
</header>

  <main class="main">

<!-- Hero Section -->
{% if page.hero_section %}
  <section id="hero" class="hero section dark-background">
    <img src="{{ page.hero_section.0.value.file.url }}" alt="{{ page.hero_section.0.value.file.url }}" data-aos="fade-in" class="aos-init aos-animate">

    <div class="container d-flex flex-column align-items-center text-center mt-auto">
        {% for block in page.hero_section %}
            {% if block.block_type == 'title' %}
            <h2 data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">{{ block.value }}</h2>
            {% elif block.block_type == 'subtitle' %}
            <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">{{ block.value }}</p>
            {% elif block.block_type == 'button_primary' %}
            <div data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
                <a href="{{ block.value.url }}" class="glightbox pulsating-play-btn mt-3">{{ block.value.label }}</a>
            {% elif block.block_type == 'button_secondary' %}
                <a href="{{ block.value.url }}" class="btn btn-secondary">{{ block.value.label }}</a>
            {% endif %}
        {% endfor %}

    </div>

    </div>




        <!-- About Section -->
        {% if page.about_section %}
        <div class="about-info mt-auto position-relative">
            <div class="container position-relative aos-init aos-animate" data-aos="fade-up">
                <div class="row">
                    {% for block in page.about_section %}
                    {% if block.block_type == 'image' %}
                        <div class="col-md-6">
                            <img src="{{ block.valuescripts.url }}" alt="{% trans 'About Us' %}" class="img-fluid">
                        </div>
                    {% elif block.block_type == 'title' %}
                    <div class="col-lg-6">
                            <h2>{{ block.value }}</h2>
                              </div>
                    {% elif block.block_type == 'subtitle' %}
                    <div class="col-lg-6">
                            <h3>{{ block.value }}</h3>
                              </div>
                    {% elif block.block_type == 'text' %}
                            <p>{{ block.value|richtext }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                    {% endif %}

        </div>
    </div>
</section>
{% endif %}

<!-- Gallery Section -->
{% if page.gallery_section %}
<section id="gallery" class="gallery section">
  <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <h2>{% trans "Gallery" %}</h2>
    <!-- Swiper container -->
    <div class="swiper-container">
      <!-- Swiper wrapper -->
      <div class="swiper-wrapper">
        {% for block in page.gallery_section %}
        <div class="swiper-slide">
          <img src="{{ block.value.file.url }}" alt="{% trans 'Gallery Image' %}" class="img-fluid">
        </div>
        {% endfor %}
      </div>
      <!-- Swiper navigation buttons -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Swiper pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
{% endif %}

<div class="holiday-banner">
    <div class="scrolling-content">
        <span class="banner-text">🦷 50% Off Dental Implants These Holidays! 🎄</span>
        <span class="banner-text">👨‍⚕️ Book Your Appointment Today! 🎁</span>
        <span class="banner-text">🦷 Smile Brighter This Christmas! ❄️</span>
    </div>

    <!-- Duplicate content for seamless scrolling -->
    <div class="scrolling-content">
        <span class="banner-text">🦷 20% Off Zirconium Crowns These Holidays! 🎄</span>
        <span class="banner-text">👨‍⚕️ Book Your Appointment Today! 🎁</span>
        <span class="banner-text">🦷 Smile Brighter This Christmas! ❄️</span>
    </div>
</div>

<!-- Doctors Section -->
{% if page.dentists_section %}
<section id="speakers" class="speakers section dark-background">
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>{% trans "Our Dentists" %}</h2>
          </div>
                  <div class="container">

        <div class="row gy-4">
          {% for block in page.dentists_section %}
          <div class="col-xl-3 col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                      {% if block.value.photo %}
                      <img src="{{ block.value.photo.file.url }}" alt="{{ block.value.name }}" class="img-fluid">
                      <div class="member-info">
                <div class="member-info-content">
                  {% endif %}

                           <h4><a href="{{ block.value.social_link }}">{{ block.value.name }}</a></h4>
                       <span>{{ block.value.specialty }}<span>
                       </div>
                         <div class="social">
                  <a href="https://dentidelil-international.com/en/doctors/" target="_blank" ><i class="bi bi-twitter-x"></i></a>
                  <a href="https://dentidelil-international.com/en/doctors/" target="_blank" ><i class="bi bi-facebook"></i></a>
                  <a href="https://dentidelil-international.com/en/doctors/" target="_blank" ><i class="bi bi-instagram"></i></a>
                  <a href="https://dentidelil-international.com/en/doctors/" target="_blank" ><i class="bi bi-linkedin"></i></a>
                </div>
                    </div>
                </div>
                        </div>

            {% endfor %}

    </div>
       </div>
                          </section>

{% endif %}

<!-- Patient Journey Section -->
{% if page.patient_journey_section %}
<section id="schedule" class="schedule section">
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>{% trans "Patient Journey" %}</h2>
    </div>

    <div class="container">
        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs aos-init aos-animate" role="tablist" data-aos="fade-up" data-aos-delay="100">
            {% for block in page.patient_journey_section %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if forloop.first %}active{% endif %}"
                   href="#{{ block.value.day_label|slugify }}"
                   role="tab"
                   data-bs-toggle="tab">
                    {{ block.value.day_label }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <!-- Tab Content -->
        <div class="tab-content row justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            {% for block in page.patient_journey_section %}
            <div role="tabpanel"
                 class="col-lg-9 tab-pane fade {% if forloop.first %}show active{% endif %}"
                 id="{{ block.value.day_label|slugify }}">
                <div class="row schedule-item justify-content-center">
                    <div class="col-md-9">
                        <p>{{ block.value.description|richtext }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endif %}

    <!-- Sponsors Section -->
<section id="sponsors" class="sponsors section light-background">
  <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <h2>{% trans "Partner Brands" %}</h2>
  </div>
  <!-- Swiper Container -->
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper-container sponsors-swiper">
      <div class="swiper-wrapper">
        {% get_sponsors as sponsors %}
        {% for sponsor in sponsors %}
        <div class="swiper-slide">
          {% if sponsor.link %}
          <a href="{{ sponsor.link }}" target="_blank">
            <img src="{{ sponsor.logo.file.url }}" class="img-fluid" alt="{{ sponsor.name }}">
          </a>
          {% else %}
          <img src="{{ sponsor.logo.file.url }}" class="img-fluid" alt="{{ sponsor.name }}">
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- Clinics Section -->
{% load wagtailimages_tags %}

{% if page.clinics_section %}
<section id="venue" class="venue section">
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>{% trans "Our Clinics" %}</h2>
        <div class="row">
            {% for block in page.clinics_section %}
            <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
                <div class="row g-0">
                    <div class="col-lg-6 venue-map">
                        <!-- Map Link -->
                        {% if block.value.map_link %}
                        <iframe src="{{ block.value.map_link }}"
                                width="300" height="300" style="border:0;"
                                allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        <!-- Resized Image -->
                        {% if block.value.image %}
                            {% image block.value.image width-500 as resized_image %}
                            <img src="{{ resized_image.url }}" alt="{{ block.value.name }}" class="img-fluid">
                        {% else %}
                            <p>{% trans "No image available." %}</p>
                        {% endif %}

                        <!-- Clinic Details -->
                        <h3>{{ block.value.name }}</h3>
                        <p>{{ block.value.location }}</p>
                        <p>{{ block.value.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<section id="hotels" class="hotels section">
<div class="medical-tourism-hotels">
  {% with hotels=self.get_medical_hotels %}
  <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <h2>{% trans "Partner Hotels" %}</h2>
            <p>{% trans "Hotel accomodation is included in most of our packages(*). all you have to do is pick your spot! " %} </p>

  </div>
          <div class="row gy-4">

    {% for hotel in hotels %}
    <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="card h-100">

    <div class="hotel-card">

      <!-- Swiper Container -->
      <div id="swiper-medical-tourism-{{ forloop.counter }}" class="swiper-medical-tourism-container">
        <div class="swiper-wrapper">
          {% for image_block in hotel.images %}
          <div class="swiper-slide medical-tourism-slide">
            {% image image_block.value fill-600x450 format-webp as img %}
            <img src="{{ img.url }}" alt="{{ img.title }}">
          </div>
          <hr>
          {% endfor %}
        </div>
        <!-- Swiper Controls -->
        <div class="swiper-button-next medical-tourism-button-next"></div>
        <div class="swiper-button-prev medical-tourism-button-prev"></div>
      </div>
                  </div>
              <h3><a href="#">{{ hotel.title }}</a></h3>
              <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
              <p>{% trans "0.4 Mile from the the Grand Bazaar" %}</p>
            </div>
                        </div>
    {% endfor %}

    </div>
  {% endwith %}
</div>
</section>

<!-- Pricing Section -->
<section id="buy-tickets" class="buy-tickets section light-background">
<div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>{% trans "Our Packages" %}</h2>
              </div>
      <div class="container">
            {% for block in page.pricing_section %}
        <div class="row gy-4 pricing-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <h3>{{ block.value.title }}</h3>
                                        </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">

                        <h4>{{ block.value.price }}</h4>
                                  </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">

                        <ul>
                            {% for feature in block.value.features %}
                                <li> <li><i class="bi bi-check"></i>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="{{ block.value.cta_url }}" class="buy-btn">{{ block.value.cta_label }}</a></div>
          </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- FAQ Section -->
{% if page.faq_section %}
<section id="faq" class="faq-section">
<div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2 class=>{% trans "Frequently Asked Questions" %}</h2>
              </div>
              <div class="container">
                      <div class="row justify-content-center">
          <div class="col-lg-10 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    {% for block in page.faq_section %}

              <div class="faq-item">

        <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                            {{ block.value.question }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            {{ block.value.answer|richtext }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}



<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <h2>{% trans "Contact" %}</h2>
    <p>{% trans "Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit" %}</p>
  </div><!-- End Section Title -->

  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-geo-alt"></i>
          <h3>{% trans "Address" %}</h3>
          <p>{% trans "Denti Delil Ağız ve Diş Sağlığı Polikliniği" %}</p>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-3 col-md-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-telephone"></i>
          <h3>{% trans "Call Us" %}</h3>
    <a href="https://wa.me/905380546393" target="_blank">+90 538 054 6393</a>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-3 col-md-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-envelope"></i>
          <h3>{% trans "Email Us" %}</h3>
          <p>info@example.com</p>
        </div>
      </div><!-- End Info Item -->

    </div>

    <div class="row gy-4 mt-1">
      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.8015109751623!2d28.83575886506481!3d41.054409714483285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa541c60f960b%3A0xff53e79679b30e8b!2zRGVudGkgRGVsaWwgQcSfxLF6IHZlIERpxZ8gU2HEn2zEscSfxLEgUG9saWtsaW5pxJ9pIEJhxJ9jxLFsYXIgxZ91YmVzaQ!5e0!3m2!1sen!2str!4v1732614207990!5m2!1sen!2str" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      </div><!-- End Google Maps -->

{% if page.form_live %}
      <div class="col-lg-6">
      <form class="{{ page.form_css_class }}" id="{{ page.form_id }}" action="{% pageurl self %}" method="POST" {% if form|is_file_form %}enctype="multipart/form-data"{% endif %} data-aos="fade-up" data-aos-delay="400">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
          <div class="row gy-4">

    {% block captcha %}
    {% if page.spam_protection %}
    {% include "coderedcms/includes/form_honeypot.html" %}
    {% endif %}
    {% endblock %}

      <div class="{{'horizontal_label_class'|bootstrap_settings}}"></div>
      <div class="{{'horizontal_field_class'|bootstrap_settings}}">

                  <div class="col-md-12 text-center">

        <button type="submit" class="btn {{page.button_size}} {{page.button_style}} {{page.button_css_class}}">
          {{ page.button_text }}
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %}
    </div>

  </div>

</section>
{% endblock %}

{% block custom_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<script>
    document.addEventListener('DOM<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

ContentLoaded', function () {
        const dropdownButton = document.getElementById('languageDropdown'); // Button for toggling dropdown
        const dropdownMenu = dropdownButton.nextElementSibling; // The associated dropdown menu

        // Toggle dropdown visibility on button click
        dropdownButton.addEventListener('click', function (e) {
            e.stopPropagation(); // Prevent click from propagating to document
            dropdownMenu.classList.toggle('show'); // Toggle "show" class to control visibility
        });

        // Hide dropdown when clicking outside of it
        document.addEventListener('click', function () {
            dropdownMenu.classList.remove('show'); // Remove "show" class
        });
    });
</script>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const snowContainer = document.getElementById('snow-container');

    function createSnowflake() {
        const snowflake = document.createElement('div');
        snowflake.classList.add('snowflake');

        // Set random size and position
        const size = Math.random() * 8 + 2; // Random size between 2px and 10px
        snowflake.style.width = `${size}px`;
        snowflake.style.height = `${size}px`;
        snowflake.style.left = `${Math.random() * 100}vw`; // Random horizontal position

        snowContainer.appendChild(snowflake);

        // Animate with GSAP
        gsap.to(snowflake, {
            y: '100vh', // Fall down the entire height of the viewport
            x: `+=${Math.random() * 50 - 25}`, // Slight horizontal drift
            opacity: 0, // Fade out at the end
            duration: Math.random() * 3 + 2, // Random fall duration between 2 and 5 seconds
            ease: 'power1.out',
            onComplete: () => snowflake.remove(), // Remove snowflake after animation
        });
    }

    // Generate snowflakes continuously
    setInterval(createSnowflake, 150); // Add a new snowflake every 150ms
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function (e) {
        e.stopPropagation();
        const menu = this.querySelector('.dropdown-menu');
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    });

    document.addEventListener('click', function () {
        const menus = document.querySelectorAll('.dropdown-menu');
        menus.forEach(menu => menu.style.display = 'none');
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  // Initialize Swiper for medical tourism hotels
  document.querySelectorAll('.swiper-medical-tourism-container').forEach((swiperContainer) => {
    new Swiper(swiperContainer, {
      effect: 'cards', // Cards effect
      grabCursor: true, // Enable grab cursor
      navigation: {
        nextEl: swiperContainer.querySelector('.medical-tourism-button-next'),
        prevEl: swiperContainer.querySelector('.medical-tourism-button-prev'),
      },
    });
  });
});
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper('.sponsors-swiper', {
      slidesPerView: 3,
      spaceBetween: 30,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        640: { slidesPerView: 1, spaceBetween: 20 },
        768: { slidesPerView: 2, spaceBetween: 30 },
        1024: { slidesPerView: 3, spaceBetween: 40 },
      },
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.swiper-container', {
      // Enable automatic height adjustment
      autoHeight: true,

      // Additional Swiper configuration
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      slidesPerView: 1, // Display one slide at a time
      spaceBetween: 10,
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        480: {
          slidesPerView: 1,
        },
      },
    });
  });
</script>
{% endblock %}
