{% extends "coderedcms/pages/base2.html" %}
{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags coderedcms_tags i18n wagtailsnippets_tags %}

{% block content %}

<div id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            <h1>{{ self.title }}</h1>
            <p>{{ self.subtitle }}</p>
            <div class="scroll-icon">
                <a class="scrollTo" data-scrollTo="portfolio" href="{{ self.scroll_link }}"><img src="{{ self.scroll_icon_url }}" alt=""></a>
            </div>
        </div>
    </div>
    <video autoplay loop muted>
        <source src="{{ self.background_video.url }}" type="video/mp4"/>
    </video>
</div>

<div class="grid-portfolio" id="portfolio">
    <div class="container">
        {% for block in self.portfolio_section %}
            {% if block.block_type == 'portfolio_item' %}
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <a href="{{ block.value.link }}">
                            <div class="thumb">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <h1>{{ block.value.title }}</h1>
                                        <p>{{ block.value.description }}</p>
                                    </div>
                                </div>
                                <div class="image">
                                  <img src="{% if block.value.image %}{{ block.value.image.file.url }}{% else %}/static/img/default-portfolio.jpg{% endif %}" alt="{{ block.value.title }}">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- About Us Section -->
{% for block in self.about_us_section %}
    {% if block.block_type == 'about_us' %}
        <div class="page-heading-snippet" style="background-image: url('{% if block.value.background_image %}{{ block.value.background_image.file.url }}{% endif %}'); background-repeat: no-repeat; background-size: fill; background-position: center center; width: 100%; text-align: center;">
            <div class="container">
                <div class="heading-content">
                    <h2>{{ block.value.heading }}</h2>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<!-- Services Section -->
<div class="services">
    <div class="container">
        {% for block in self.services_section %}
            {% if block.block_type == 'service' %}
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="{{ block.value.icon_url }}" alt="">
                        </div>
                        <div class="text">
                            <h4>{{ block.value.title }}</h4>
                            <p>{{ block.value.description }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Patient Journey Section -->
<div class="more-about-us-container">
    {% for block in self.patient_journey_section %}
        {% if block.block_type == 'patient_journey' %}
            <div class="more-about-us" style="background-image: url('{% if block.value.background_image %}{{ block.value.background_image.file.url }}{% else %}{{ block.value.image_url_fallback }}{% endif %}'); background-size: cover; background-position: center; padding: 50px 0; color: #fff;">
                <div class="container">
                    <div class="col-md-5 col-md-offset-7 col-sm-3 col-sm-offset-3">
                        <div class="content">
                            <h2>{{ block.value.name }} <em>{{ block.value.journey_title }}</em></h2>
                            <span>{{ block.value.journey_subtitle }}</span>
                            <p>{{ block.value.story }}</p>
                            <div class="simple-btn">
                                <a href="{{ block.value.stories_link }}">{{ block.value.read_more_text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Pricing Tables Section -->
<div class="pricing-tables">
    <div class="container">
        {% for block in self.pricing_section %}
            {% if block.block_type == 'pricing_item' %}
                <div class="col-md-4 col-sm-6">
                    <div class="table-item {% if block.value.is_premium %}premium-item{% endif %}">
                        <h4>{{ block.value.price }}</h4>
                        <span>{{ block.value.title }}</span>
                        <ul>
                            {% for feature in block.value.get_features_list %}
                                <li>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                        <div class="simple-btn">
                            <a href="{{ block.value.details_link }}">click for more Detail</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Portfolio Grid Section -->
<div class="grid-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            {% for block in self.portfolio_section %}
                {% if block.block_type == 'portfolio_item' %}
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <a href="{{ block.value.big_image.url }}" data-lightbox="image-{{ forloop.counter }}">
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <h1>{{ block.value.title }} <em>{{ block.value.subtitle }}</em></h1>
                                            <p>{{ block.value.description }}</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="image">
                                    <img src="{% if block.value.image %}{{ block.value.image.file.url }}{% else %}/static/img/default-portfolio.jpg{% endif %}" alt="{{ block.value.title }}">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="load-more-button">
                    <a href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
