{% load coderedcms_tags i18n static wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}
{% wagtail_site as site %}
{% django_setting "CRX_DISABLE_ANALYTICS" as disable_analytics %}
{% django_setting "CRX_DISABLE_LAYOUT" as disable_layout %}
<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="{{ LANGUAGE_CODE }}">

<head>
  {% block tracking %}
  {% if not disable_analytics and settings.coderedcms.AnalyticsSettings.ga_g_tracking_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{settings.coderedcms.AnalyticsSettings.ga_g_tracking_id}}"></script>
  <script>
    cr_track_clicks = {{settings.coderedcms.AnalyticsSettings.ga_track_button_clicks|yesno:"true,false"}};
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{settings.coderedcms.AnalyticsSettings.ga_g_tracking_id}}');
  </script>
  {% endif %}
  {% if not disable_analytics and settings.coderedcms.AnalyticsSettings.gtm_id %}
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{settings.coderedcms.AnalyticsSettings.gtm_id}}');
  </script>
  <!-- End Google Tag Manager -->
  {% endif %}
  {% if not disable_analytics and settings.coderedcms.AnalyticsSettings.head_scripts %}
  {{settings.coderedcms.AnalyticsSettings.head_scripts|safe}}
  {% endif %}
  {% endblock %}

  {# Pass in CMS variables to JavaScript #}
  <script>
    cr_site_url = "{{site.root_url}}";
    cr_version = "{% coderedcms_version %}";
    {% if not disable_layout %}
    cr_external_new_tab = {{settings.coderedcms.LayoutSettings.external_new_tab|yesno:"true,false"}};
    {% else %}
    cr_external_new_tab = false;
    {% endif %}
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# SEO Metadata #}
  {% include "wagtailseo/meta.html" %}

  {% block frontend_assets %}
  <link rel="apple-touch-icon" href="{% static 'home/apple-icon.png' %}">

  {% endblock %}


  {% block custom_assets %}
  <link rel="stylesheet" href="{% static 'service/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'service/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'service/css/et-line-font.css' %}">
  <link rel="stylesheet" href="{% static 'service/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'service/css/vegas.min.css' %}">
  <link rel="stylesheet" href="{% static 'service/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/chat-mobnav-lang.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

 {% endblock %}

  {% block favicon %}
  {% if not disable_layout and settings.coderedcms.LayoutSettings.favicon %}
  {# See https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/ #}
  {% image settings.coderedcms.LayoutSettings.favicon fill-256x256 format-webp preserve-svg as favicon_webp %}
  {% image settings.coderedcms.LayoutSettings.favicon fill-120x120 format-png preserve-svg as favicon_iphone %}
  {% image settings.coderedcms.LayoutSettings.favicon fill-180x180 format-png preserve-svg as favicon_iphone_plus %}
  {% image settings.coderedcms.LayoutSettings.favicon fill-152x152 format-png preserve-svg as favicon_ipad %}
  {% image settings.coderedcms.LayoutSettings.favicon fill-167x167 format-png preserve-svg as favicon_ipad_pro %}
  <link rel="icon" type="image/webp" href="{{ favicon_webp.url }}">
  <link rel="apple-touch-icon" href="{{ favicon_iphone_plus.url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ favicon_iphone.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_iphone_plus.url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ favicon_ipad.url }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ favicon_ipad_pro.url }}">
  {% endif %}
  {% endblock %}

  {% block extra_head %}{% endblock %}
</head>

<body>

  {% include "coderedcms/includes/crx_banner.html" %}


  {% wagtailuserbar %}

  {% include "coderedcms/snippets/navigation.html" %}

  <div id="content">
    {% block content %}

<!-- preloader section -->
<section class="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</section>

<!-- Vegas Slide Section -->

<!-- Home Section -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <div class="home-thumb">
                    {% for block in page.home_content %}
                        {% if block.block_type == 'title' %}
                            <h1 class="wow fadeInUp" data-wow-delay="0.4s">{{ block.value }}</h1>
                        {% elif block.block_type == 'subtitle' %}
                            <h3 class="wow fadeInUp" data-wow-delay="0.6s">{{ block.value|richtext }}</h3>
                        {% elif block.block_type == 'button_text' %}
                            <a href="#about" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs">{{ block.value }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            {% for block in page.about_section %}
            {% if block.block_type == 'image' %}
                <div class="col-md-6 col-sm-12">
                    <img src="{{ block.value.file.url }}" class="img-responsive wow fadeInUp" alt="About">
                </div>
            {% elif block.block_type == 'title' %}
                <div class="col-md-6 col-sm-12">
                    <div class="about-thumb">
                        <h1>{{ block.value }}</h1>
                    </div>
                </div>
            {% elif block.block_type == 'subtitle' %}
                <div class="col-md-6 col-sm-12">
                    <div class="about-thumb">
                        <h3>{{ block.value }}</h3>
                    </div>
                </div>
            {% elif block.block_type == 'text' %}
                <div class="col-md-6 col-sm-12">
                    <div class="about-thumb">
                        <p>{{ block.value|richtext }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
                </div>
    </div>
</section>

<!-- Feature Section -->
<section id="feature">
    <div class="container">
        <div class="row">
            {% for feature in page.features %}
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="media-object media-left">
                            <i class="{{ feature.value.icon }}"></i>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{ feature.value.heading }}</h2>
                            <p>{{ feature.value.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix text-center col-md-12 col-sm-12">
                <a href="#contact" class="btn btn-default smoothScroll">Talk to us</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <div class="section-title">
                    <h1 class="wow fadeInUp" data-wow-delay="0.3s">Get in touch</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.6s">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.
                    </p>
                </div>
                <div class="contact-form wow fadeInUp" data-wow-delay="1.0s">
                    <form id="contact-form" method="post" action="#">
                        <div class="col-md-6 col-sm-6">
                            <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="email" type="email" class="form-control" placeholder="Your Email" required>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <textarea name="message" class="form-control" placeholder="Message" rows="6" required></textarea>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                            <input name="submit" type="submit" class="form-control submit" id="submit" value="SEND MESSAGE">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}
</div>

<div id="content-walls">
  {% block content_walls %}
  {% for content_wall in content_walls %}
  {% include_block content_wall with settings=settings %}
  {% endfor %}
  {% endblock %}
</div>



{% block footer %}{% endblock %}

{% block frontend_scripts %}

{% endblock %}

{% block coderedcms_scripts %}

{% endblock %}

{% block custom_scripts %}


{% endblock %}

{% block struct_seo %}
  {% include "wagtailseo/struct_data.html" %}
  {% block struct_seo_extra %}{% endblock %}
{% endblock %}

{% block body_tracking_scripts %}
{% if not disable_analytics %}
{% if settings.coderedcms.AnalyticsSettings.gtm_id %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{settings.coderedcms.AnalyticsSettings.gtm_id}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
{% if settings.coderedcms.AnalyticsSettings.body_scripts %}
{{settings.coderedcms.AnalyticsSettings.body_scripts|safe}}
{% endif %}
{% endif %}
{% endblock %}

<!-- Bottom Navigation Bar (Mobile Only) -->
<div class="mobile-bottom-nav" id="mobileNavBar">
<a href="https://wa.me/+905461026200?text={% trans 'hello i would like to have a free consultation' %}" target="_blank">
    <img src="{% static 'home/img/mobnavbar/wsp.png' %}" alt="whatsapp" class="nav-logo">
</a>


  <!-- Configuration Cog Button (instead of attendance) -->
  <a href="#" class="mobile-nav-button" id="modBtn">
      <img src="{% static 'home/img/mobnavbar/schedule.png' %}" alt="schedule" class="nav-logo">
  </a>

  <!-- Company Logo in the Center -->
  <a href="/">
      <img src="{% static 'home/img/mobnavbar/logo-ct-dark.png' %}" alt="Company Logo" class="nav-logo">
  </a>

  <a href="#">
      <img src="{% static 'home/img/mobnavbar/signup.png' %}" alt="signup" class="nav-logo">
  </a>

  <a href="#">
      <img src="{% static 'home/img/mobnavbar/info.png' %}" alt="info" class="nav-logo">
  </a>
</div>


  <!-- Modal -->
  <div id="modal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="header-title">Say hello to <em>Denti Delil</em></h3>
        <div class="close-btn"><img src="img/close_contact.png" alt=""></div>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="col-md-6 col-md-offset-3">
          <form id="contact" action="" method="post">
              <div class="row">
                  <div class="col-md-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="btn">get FREE consultation now</button>
                    </fieldset>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'service/js/jquery.js' %}"></script>
  <script src="{% static 'service/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'service/js/vegas.min.js' %}"></script>
  <script src="{% static 'service/js/wow.min.js' %}"></script>
  <script src="{% static 'service/js/smoothscroll.js' %}"></script>
  <script src="{% static 'service/js/custom.js' %}"></script>
  <script>
    $(document).ready(function() {
        if ($('body').length > 0) {
            $('body').vegas({
                slides: [
                    {% for slide in page.vegas_slides %}
                        { src: '{{ slide.value.file.url }}' },
                    {% endfor %}
                ],
                timer: false,
                transition: ['zoomOut']
            });
        }
    });
    </script>
    
  <script src="https://app.stammer.ai/static/chatbot/js/chatbubble.js" data-id="505b8b87-4725-4335-bddb-35618a2dfa61" data-domain="https://app.stammer.ai" ></script>
</body>

</html>


