# Install normal requirements
-r requirements.txt

# Tooling for local development
django-sass
django-stubs
mypy
pytest
pytest-cov
pytest-django
ruff
django>=4.2.24 # not directly required, pinned by Snyk to avoid a vulnerability
