{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}
{% get_pictures self.collection.id as pictures %}
{% generate_random_id as modal_id %}

<div class="grid-portfolio {{ self.settings.custom_css_class }}" id="{{ self.settings.custom_id|default:"portfolio" }}">
    <div class="container">
        <div class="row">
            {% for picture in pictures %}
                {% image picture fill-800x450 format-webp preserve-svg as picture_image %}
                {% image picture max-1600x1600 format-webp preserve-svg as original_image %}

                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="#" class="lightbox-preview" data-bs-toggle="modal" data-bs-target="#modal-{{ modal_id }}">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <h4>{{ picture.title }}</h4>
                                    </div>
                                </div>
                            </a>
                            <div class="image">
                                <img class="img-thumbnail w-100" src="{{ picture_image.url }}" data-original-src="{{ original_image.url }}"
                                     alt="{{ picture.title }}" title="{{ picture.title }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="load-more-button">
                    <a href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-{{ modal_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lightbox">
            <div class="modal-body">
                <img src="" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
