{% load coderedcms_tags i18n static language_switcher wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar wagtailsnippets_tags django_bootstrap5 %}


{% block content %}

.language-switcher {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    color: #333;
}

.dropdown-toggle img.lang-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.dropdown-toggle .arrow-down {
    margin-left: 5px;
    font-size: 12px;
}

.dropdown-menu {
    position: absolute;
    background: none;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    display: none;
    box-shadow: none;
    width: max-content;
}

.dropdown-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.dropdown-menu li a img.lang-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.language-switcher:hover .dropdown-menu {
    display: block;

</style>



<div class="language-switcher">
    <button class="dropdown-toggle" id="languageDropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'images/flags/'|add:current_lang.language_code|add:'.svg' %}"
             alt="{{ current_lang.language_name }}" class="lang-icon">
        {{ current_lang.language_code }}
        <span class="arrow-down">▼</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        {% for lang in language_links %}
            <li>
                <a href="{{ lang.url }}">
                    <img src="{% static 'images/flags/'|add:lang.language_code|add:'.svg' %}"
                         alt="{{ lang.language_name }}" class="lang-icon">
                    {{ lang.language_code }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

